.global-header {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.96);
    z-index: 999;
    .navbar {
        .navbar-brand, .navbar-nav {
            font-size: 95%;
        }
        .form-control, .btn {
            font-size: 92%;
        }
    }
}

@media (max-width: 990px) {
    .navbar {
        .form-inline {
            margin-top: .75rem;
            .form-control {
                width: 70%;
                margin-right: .75rem;
            }
        }
    }
}
.intro {
    background-color: #e9ecef;
    margin-top: 2.5rem;
    margin-bottom: 3rem;
    .site-title {
        font-family: monospace;
    }
}

.avatar {
    width: 55px;
    opacity: .8;
    transition: transform .5s ease-in-out;
    &:nth-child(2n):hover {
        transform: rotate(10deg);
    }
    &:nth-child(2n-1):hover {
        transform: rotate(-10deg);
    }
    &.members {
        width: 95px;
    }
}

.arrow {
    &.after {
        &:after {
            content: "→";
            margin-left: 5px;
            display: inline-block;
            transition: transform .5s ease-in-out;
        }
        &:hover:after {
            transform: translateX(7px);
        }
    }
    &.before {
        &:before {
            content: "←";
            margin-right: 5px;
            display: inline-block;
            transition: transform .5s ease-in-out;
        }
        &:before:after {
            transform: translateX(-7px);
        }
    }
}

.card {
    border-radius: 10px;

    .card-img, .card-img-bottom {
        border-radius: 10px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.badge {
    display: inline-block;
    margin: 3px 5px 3px 0;
    font-family: Inconsolata, monospace;
    font-size: .75rem;
    font-weight: 700;
    padding: 2px 7px;
    border-radius: 3px;
    color: #007bff;
    border: 1px solid #007bff;
    background: 0 0;
    &:hover {
        background-color: #007bff;
        color: #fff;
    }
}

.headline {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media (min-width: 767px) {
    .headline {
        font-size: 3rem;
    }
}

.my-masonry-grid {
    display: flex;
    margin-left: -20px;
}
.my-masonry-grid_column {
    border-left: 20px solid transparent;
    background-clip: padding-box;
}

article {
    img {
        max-width: 100%;
    }
}

.tag-cloud-tag:hover {
    filter: brightness(0.8);
}

footer {
    border-top: 1px solid #efefef;
}